## Baidu_APIè¡¨æ ¼å¤„ç†

In [23]:
import pandas as pd
df = pd.read_excel('data.xlsx')
baidu = pd.read_csv('output/df_baidu.csv')

In [3]:
print(len(df),len(baidu))

6694 6694

In [24]:
merged_df = pd.merge(df, baidu, on='texts', how='left')
merged_df.drop_duplicates(subset=['texts'], inplace=True)   # å»é‡
print(len(merged_df))
merged_df.to_excel('output/df_baidu_merged.xlsx', index=False)

5554

å»é‡ä»¥åé•¿åº¦æœ‰ç‚¹ä¸ä¸€æ ·ï¼ŒåŸå› å¯èƒ½æ˜¯è°ƒç”¨apiçš„æ—¶å€™æœ‰éƒ¨åˆ†æ–‡æœ¬æœ‰é—®é¢˜orç©ºç™½ï¼Œæ²¡æœ‰åˆ†æå‡ºæƒ…æ„Ÿå€¾å‘

## emotion_scoreçš„å¤„ç†

In [28]:
emotion_score = pd.read_csv('output/emotion_score.csv')
emotion_score

,texts,words,score
0,å¾å·ä¹‹å‰åˆšå› ä¸ºé“é“¾å¥³å‡ºå¤§é£å¤´ï¼Œå¥½ä¸å®¹æ˜“å¤§å®¶å¿˜äº†ç‚¹ã€‚ç»“æœåˆå¼€å§‹è¹­å¾å·æ‰æ˜¯æ·„åšçƒ§çƒ¤å‘æºåœ°çƒ­åº¦ï¼Œb...,"['å¾å·', 'ä¹‹å‰', 'åˆš', 'é“é“¾', 'å¥³å‡º', 'é£å¤´', 'å¥½ä¸å®¹æ˜“', 'å¿˜...",0.0
1,ä¸å¥½æ„æ€å¯¹å¾å·çš„å°è±¡åªæœ‰å…«å­©é“é“¾å¥³å’Œæ‹å–å¦‡å¥³,"['ä¸å¥½æ„æ€', 'å¾å·', 'å°è±¡', 'å…«å­©', 'é“é“¾', 'å¥³', 'æ‹å–å¦‡å¥³', ...",0.0
2,å¾å·åªèƒ½è®©æˆ‘æƒ³èµ·ä¸€ä»¶äº‹æƒ…ï¼Œé“é“¾å¥³ğŸ™ˆğŸ™‰ğŸ™Š,"['å¾å·', 'åªèƒ½', 'æƒ³èµ·', 'ä¸€ä»¶', 'äº‹æƒ…', 'é“é“¾', 'å¥³', 'ğŸ™ˆ',...",0.0
3,é“é“¾å¥³ï¼Œä¸°å¿å…«å­©,"['é“é“¾', 'å¥³', 'ä¸°å¿', 'å…«å­©', ' ']",0.0
4,æƒ³çŸ¥é“è¿™ä¸ªå¥³çš„åç»­,"['æƒ³', 'çŸ¥é“', 'å¥³', 'åç»­', ' ']",0.0
...,...,...,...
6689,å¼ºå¥¸çŠ¯ä¸æ˜¯æ‰¬æŸä¾ çš„å®¶äººï¼Œå¼ºå¥¸ç”Ÿä¸‹çš„ä¸æ˜¯â€œäººâ€æ˜¯è¢«å¼ºå¥¸çš„æ¶æœ,"['å¼ºå¥¸çŠ¯', 'æ‰¬', 'æŸä¾ ', 'å®¶äºº', 'å¼ºå¥¸', 'ç”Ÿä¸‹', 'å¼ºå¥¸', 'æ¶æœ']",-18.0
6690,å¦‚æœè¿™äº‹è°ƒæŸ¥ä¸åŠ›ï¼Œè®©äººè´©å­å…¼å¼ºå¥¸çŠ¯é€é¥æ³•å¤–ï¼Œä¸èƒ½ä¿æŠ¤å¥½â€œå¥¹â€ï¼Œåªèƒ½è¯´æ˜æˆ‘ä»¬ä¸­å›½æ”¿åºœå¤§åŠ›æ”¯æŒäºº...,"['äº‹', 'è°ƒæŸ¥', 'ä¸åŠ›', 'äººè´©å­', 'å…¼', 'å¼ºå¥¸çŠ¯', 'é€é¥æ³•å¤–', '...",-17.0
6691,è¶Šçƒ‚çš„åŸºå› è¶Šæ˜¯æ‹¼å‘½æƒ³ç€è¦å»¶ç»­ä¸‹å»ã€‚,"['è¶Šçƒ‚', 'åŸºå› ', 'æ‹¼å‘½', 'æƒ³ç€', 'å»¶ç»­ä¸‹å»']",0.0
6692,æ€ä¹ˆæˆ‘ä»¬å¥³ç”Ÿå¥½æ¬ºè´Ÿå—ï¼Ÿå°±è¿™æ ·è°æ•¢å‡ºé—¨ï¼Œç”·å¥³å¹³ç­‰ï¼Ÿï¼Ÿå¥³ç”Ÿåœ¨ç¤¾ä¼šä¸Šæ˜¯å¼±åŠ¿ç¾¤ä½“ï¼Œä¸åº”è¯¥å¾—åˆ°æ”¿åºœï¼Œç”·...,"['æ€ä¹ˆ', 'å¥³ç”Ÿ', 'æ¬ºè´Ÿ', 'æ•¢', 'å‡ºé—¨', 'ç”·å¥³å¹³ç­‰', 'å¥³ç”Ÿ', 'ç¤¾...",-3.0
6693,ç”Ÿå‰é—ç‰©æ€ä¹ˆè¿›è¡ŒDNAæ¯”å¯¹ï¼Ÿ å®¶é•¿è®©14å²çš„æ¡‘æŸå¦é¢†ç€18å²çš„å°èŠ±æ¢…æ‰¾ä¸ªå¥½äººå®¶ï¼Œç„¶å14å²çš„...,"['ç”Ÿå‰', 'é—ç‰©', 'æ€ä¹ˆ', 'è¿›è¡Œ', 'DNA', ' ', 'å®¶é•¿', '14...",-13.0

In [29]:
merged_df_emo = pd.merge(df, emotion_score, on='texts', how='left')
merged_df_emo.to_excel('output/df_emo_score_merged.xlsx', index=False)

## åˆå¹¶æ‰€æœ‰æ•°æ®

In [27]:
# cemotion
df1 = pd.read_excel('output/data_cemotion.xlsx')
df1 = df1.rename(columns={'sentiment_polar': 'cemotion_senti'})

In [30]:
# merge baidu
df2 = pd.read_excel('output/df_baidu_merged.xlsx')
df2 = df2[['texts','pm','pp','np']]
df2.columns = ['texts','baidu_pm','baidu_pp','baidu_np']
df2 = pd.merge(df1, df2, on='texts', how='left')
len(df2)

6694

In [43]:
# merge emo classification
df3 = pd.read_excel('output/data_emo_classify.xlsx')
df3 = df3[['texts','length', 'positive', 'negative', 'anger', 'disgust', 'fear', 'sadness', 'surprise', 'good', 'happy']]
len(df3)

6694

In [86]:
# ç›´æ¥concatä¸çŸ¥é“ä¸ºä»€ä¹ˆå‡ºç°äº†é—®é¢˜ï¼Œæ£€æµ‹ä¸€ä¸‹
fail = []
for i in range(len(df2)):
    if df2['texts'][i] != df3['texts'][i]:
        print(df2['texts'][i], df3['texts'][i])
        fail.append(i)
print(fail)
# indexéƒ½æ˜¯ä¸€è‡´çš„ï¼Œå‡ºé—®é¢˜çš„æ˜¯å› ä¸ºnan

nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
[1497, 1504, 1708, 1709, 1841, 2101, 2221, 2732, 2734, 2835, 2841, 3054, 3186, 3279, 3373, 3474, 3546, 3615, 3629, 3632, 3662, 3689, 3982, 4044, 4068, 4070, 4073, 4082, 4083, 4084, 4086, 4087, 4088, 4089, 4091, 4094, 4095, 4097, 4119, 4120, 4205, 4209, 4259, 4261, 4283, 4351, 4404, 4432, 4675, 4717, 4734, 4747, 4748, 4750, 4751, 4753, 4755, 4756, 4808, 4886, 4892, 4901, 5000, 5054, 5059, 5073, 5111, 5121, 5122, 5135, 5152, 5184, 5185, 5186, 5187, 5258, 5259, 5260, 5502, 5505, 5644, 5675, 5684, 5688, 5770, 5794, 5844, 5858]

In [88]:
df2.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'comments_count', 'attitudes_count',
       'reposts_count', 'created_at', 'status_city', 'status_country',
       'status_province', 'user_id', 'id', 'isLongText', 'user_screen_name',
       'user_verified', 'user_gender', 'user_follow_count',
       'user_followers_count', 'user_verified_reason', 'weibo_emoji', 'tags',
       'texts', 'cemotion_senti', 'baidu_pm', 'baidu_pp', 'baidu_np'],
      dtype='object')

In [89]:
df3.columns

Index(['texts', 'length', 'positive', 'negative', 'anger', 'disgust', 'fear',
       'sadness', 'surprise', 'good', 'happy'],
      dtype='object')

In [96]:
merged_df4 = pd.concat([df2, df3[['length', 'positive', 'negative', 'anger', 'disgust', 'fear',
       'sadness', 'surprise', 'good', 'happy']]], axis=1, ignore_index=True)
merged_df4.columns = ['Unnamed: 0', 'Unnamed: 0.1', 'comments_count', 'attitudes_count',
       'reposts_count', 'created_at', 'status_city', 'status_country',
       'status_province', 'user_id', 'id', 'isLongText', 'user_screen_name',
       'user_verified', 'user_gender', 'user_follow_count',
       'user_followers_count', 'user_verified_reason', 'weibo_emoji', 'tags',
       'texts', 'cemotion_senti', 'baidu_pm', 'baidu_pp', 'baidu_np', 'length', 'positive', 'negative', 'anger', 'disgust', 'fear',
       'sadness', 'surprise', 'good', 'happy']
merged_df4 = merged_df4.drop(merged_df4.columns[0], axis=1)
merged_df4 = merged_df4.drop(merged_df4.columns[0], axis=1)

merged_df4

,comments_count,attitudes_count,reposts_count,created_at,status_city,status_country,status_province,user_id,id,isLongText,...,length,positive,negative,anger,disgust,fear,sadness,surprise,good,happy
0,0,41,0,2023-04-25 13:48:34,æµå—,ä¸­å›½,å±±ä¸œ,5953395370,4894409889415605,False,...,37,1,1,0,1,0,0,0,1,0
1,1,8,0,2023-04-25 13:48:33,ä¿¡é˜³,ä¸­å›½,æ²³å—,6046338053,4894409886011988,False,...,9,0,1,0,0,1,0,0,0,0
2,0,20,0,2023-04-25 13:48:01,ä¸­å±±,ä¸­å›½,å¹¿ä¸œ,6270833313,4894409751270799,False,...,11,0,0,0,0,0,0,0,0,0
3,1,2,0,2023-04-25 13:44:46,åŒ—äº¬,ä¸­å›½,åŒ—äº¬,5334170262,4894408934426148,False,...,5,0,0,0,0,0,0,0,0,0
4,0,2,0,2023-04-25 13:40:10,æ­¦æ±‰,ä¸­å›½,æ¹–åŒ—,6056043508,4894407776799644,False,...,5,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,0,1,0,2022-02-12 13:23:55,NaN,NaN,NaN,6912848963,4736040188775897,False,...,8,0,2,0,2,0,0,0,0,0
6690,0,0,0,2022-02-12 03:42:37,NaN,NaN,NaN,3087874701,4735893900362458,False,...,24,0,3,0,3,0,0,0,0,0
6691,0,1,0,2022-02-12 01:21:25,NaN,NaN,NaN,1985123417,4735858370150463,False,...,5,1,0,0,0,0,0,0,1,0
6692,0,1,0,2022-02-12 01:16:59,NaN,NaN,NaN,6628549450,4735857250010046,False,...,19,1,2,0,2,0,0,0,1,0
6693,0,0,0,2022-02-12 01:11:15,NaN,NaN,NaN,2460468142,4735855807432484,False,...,60,0,2,0,1,0,1,0,0,0

In [98]:
# merge df_emo_score_merged.xlsx
df5 = pd.read_excel('output/df_emo_score_merged.xlsx')
df5 = df5.drop_duplicates()
print(len(df5))
print(df5.columns)

6694
Index(['Unnamed: 0', 'comments_count', 'attitudes_count', 'reposts_count',
       'created_at', 'status_city', 'status_country', 'status_province',
       'user_id', 'id', 'isLongText', 'user_screen_name', 'user_verified',
       'user_gender', 'user_follow_count', 'user_followers_count',
       'user_verified_reason', 'weibo_emoji', 'tags', 'texts', 'words',
       'score'],
      dtype='object')

In [99]:
df5.to_excel('output/df_emo_score_merged.xlsx')

In [102]:
merged_df4.columns

Index(['comments_count', 'attitudes_count', 'reposts_count', 'created_at',
       'status_city', 'status_country', 'status_province', 'user_id', 'id',
       'isLongText', 'user_screen_name', 'user_verified', 'user_gender',
       'user_follow_count', 'user_followers_count', 'user_verified_reason',
       'weibo_emoji', 'tags', 'texts', 'cemotion_senti', 'baidu_pm',
       'baidu_pp', 'baidu_np', 'length', 'positive', 'negative', 'anger',
       'disgust', 'fear', 'sadness', 'surprise', 'good', 'happy'],
      dtype='object')

In [115]:
df5 = df5[['texts','words','score']]
merged_df4 = merged_df4.reset_index(drop=True)
df5 = df5.reset_index(drop=True)

df_all = pd.concat([merged_df4, df5[['words','score']]], axis=1, ignore_index=True)
df_all.columns = ['comments_count', 'attitudes_count', 'reposts_count', 'created_at',
       'status_city', 'status_country', 'status_province', 'user_id', 'id',
       'isLongText', 'user_screen_name', 'user_verified', 'user_gender',
       'user_follow_count', 'user_followers_count', 'user_verified_reason',
       'weibo_emoji', 'tags', 'texts', 'cemotion_senti', 'baidu_pm',
       'baidu_pp', 'baidu_np', 'length', 'positive', 'negative', 'anger',
       'disgust', 'fear', 'sadness', 'surprise', 'good', 'happy','words','emo_score']
df_all.to_excel('data_process_all.xlsx')

In [116]:
print(len(merged_df4),len(df5),len(df_all))

6694 6694 6694