## Baidu_API表格处理

In [23]:
import pandas as pd
df = pd.read_excel('data.xlsx')
baidu = pd.read_csv('output/df_baidu.csv')

In [3]:
print(len(df),len(baidu))

6694 6694

In [24]:
merged_df = pd.merge(df, baidu, on='texts', how='left')
merged_df.drop_duplicates(subset=['texts'], inplace=True)   # 去重
print(len(merged_df))
merged_df.to_excel('output/df_baidu_merged.xlsx', index=False)

5554

去重以后长度有点不一样，原因可能是调用api的时候有部分文本有问题or空白，没有分析出情感倾向

## emotion_score的处理

In [28]:
emotion_score = pd.read_csv('output/emotion_score.csv')
emotion_score

,texts,words,score
0,徐州之前刚因为铁链女出大风头，好不容易大家忘了点。结果又开始蹭徐州才是淄博烧烤发源地热度，b...,"['徐州', '之前', '刚', '铁链', '女出', '风头', '好不容易', '忘...",0.0
1,不好意思对徐州的印象只有八孩铁链女和拐卖妇女,"['不好意思', '徐州', '印象', '八孩', '铁链', '女', '拐卖妇女', ...",0.0
2,徐州只能让我想起一件事情，铁链女🙈🙉🙊,"['徐州', '只能', '想起', '一件', '事情', '铁链', '女', '🙈',...",0.0
3,铁链女，丰县八孩,"['铁链', '女', '丰县', '八孩', ' ']",0.0
4,想知道这个女的后续,"['想', '知道', '女', '后续', ' ']",0.0
...,...,...,...
6689,强奸犯不是扬某侠的家人，强奸生下的不是“人”是被强奸的恶果,"['强奸犯', '扬', '某侠', '家人', '强奸', '生下', '强奸', '恶果']",-18.0
6690,如果这事调查不力，让人贩子兼强奸犯逍遥法外，不能保护好“她”，只能说明我们中国政府大力支持人...,"['事', '调查', '不力', '人贩子', '兼', '强奸犯', '逍遥法外', '...",-17.0
6691,越烂的基因越是拼命想着要延续下去。,"['越烂', '基因', '拼命', '想着', '延续下去']",0.0
6692,怎么我们女生好欺负吗？就这样谁敢出门，男女平等？？女生在社会上是弱势群体，不应该得到政府，男...,"['怎么', '女生', '欺负', '敢', '出门', '男女平等', '女生', '社...",-3.0
6693,生前遗物怎么进行DNA比对？ 家长让14岁的桑某妞领着18岁的小花梅找个好人家，然后14岁的...,"['生前', '遗物', '怎么', '进行', 'DNA', ' ', '家长', '14...",-13.0

In [29]:
merged_df_emo = pd.merge(df, emotion_score, on='texts', how='left')
merged_df_emo.to_excel('output/df_emo_score_merged.xlsx', index=False)

## 合并所有数据

In [27]:
# cemotion
df1 = pd.read_excel('output/data_cemotion.xlsx')
df1 = df1.rename(columns={'sentiment_polar': 'cemotion_senti'})

In [30]:
# merge baidu
df2 = pd.read_excel('output/df_baidu_merged.xlsx')
df2 = df2[['texts','pm','pp','np']]
df2.columns = ['texts','baidu_pm','baidu_pp','baidu_np']
df2 = pd.merge(df1, df2, on='texts', how='left')
len(df2)

6694

In [43]:
# merge emo classification
df3 = pd.read_excel('output/data_emo_classify.xlsx')
df3 = df3[['texts','length', 'positive', 'negative', 'anger', 'disgust', 'fear', 'sadness', 'surprise', 'good', 'happy']]
len(df3)

6694

In [86]:
# 直接concat不知道为什么出现了问题，检测一下
fail = []
for i in range(len(df2)):
    if df2['texts'][i] != df3['texts'][i]:
        print(df2['texts'][i], df3['texts'][i])
        fail.append(i)
print(fail)
# index都是一致的，出问题的是因为nan

nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
[1497, 1504, 1708, 1709, 1841, 2101, 2221, 2732, 2734, 2835, 2841, 3054, 3186, 3279, 3373, 3474, 3546, 3615, 3629, 3632, 3662, 3689, 3982, 4044, 4068, 4070, 4073, 4082, 4083, 4084, 4086, 4087, 4088, 4089, 4091, 4094, 4095, 4097, 4119, 4120, 4205, 4209, 4259, 4261, 4283, 4351, 4404, 4432, 4675, 4717, 4734, 4747, 4748, 4750, 4751, 4753, 4755, 4756, 4808, 4886, 4892, 4901, 5000, 5054, 5059, 5073, 5111, 5121, 5122, 5135, 5152, 5184, 5185, 5186, 5187, 5258, 5259, 5260, 5502, 5505, 5644, 5675, 5684, 5688, 5770, 5794, 5844, 5858]

In [88]:
df2.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'comments_count', 'attitudes_count',
       'reposts_count', 'created_at', 'status_city', 'status_country',
       'status_province', 'user_id', 'id', 'isLongText', 'user_screen_name',
       'user_verified', 'user_gender', 'user_follow_count',
       'user_followers_count', 'user_verified_reason', 'weibo_emoji', 'tags',
       'texts', 'cemotion_senti', 'baidu_pm', 'baidu_pp', 'baidu_np'],
      dtype='object')

In [89]:
df3.columns

Index(['texts', 'length', 'positive', 'negative', 'anger', 'disgust', 'fear',
       'sadness', 'surprise', 'good', 'happy'],
      dtype='object')

In [96]:
merged_df4 = pd.concat([df2, df3[['length', 'positive', 'negative', 'anger', 'disgust', 'fear',
       'sadness', 'surprise', 'good', 'happy']]], axis=1, ignore_index=True)
merged_df4.columns = ['Unnamed: 0', 'Unnamed: 0.1', 'comments_count', 'attitudes_count',
       'reposts_count', 'created_at', 'status_city', 'status_country',
       'status_province', 'user_id', 'id', 'isLongText', 'user_screen_name',
       'user_verified', 'user_gender', 'user_follow_count',
       'user_followers_count', 'user_verified_reason', 'weibo_emoji', 'tags',
       'texts', 'cemotion_senti', 'baidu_pm', 'baidu_pp', 'baidu_np', 'length', 'positive', 'negative', 'anger', 'disgust', 'fear',
       'sadness', 'surprise', 'good', 'happy']
merged_df4 = merged_df4.drop(merged_df4.columns[0], axis=1)
merged_df4 = merged_df4.drop(merged_df4.columns[0], axis=1)

merged_df4

,comments_count,attitudes_count,reposts_count,created_at,status_city,status_country,status_province,user_id,id,isLongText,...,length,positive,negative,anger,disgust,fear,sadness,surprise,good,happy
0,0,41,0,2023-04-25 13:48:34,济南,中国,山东,5953395370,4894409889415605,False,...,37,1,1,0,1,0,0,0,1,0
1,1,8,0,2023-04-25 13:48:33,信阳,中国,河南,6046338053,4894409886011988,False,...,9,0,1,0,0,1,0,0,0,0
2,0,20,0,2023-04-25 13:48:01,中山,中国,广东,6270833313,4894409751270799,False,...,11,0,0,0,0,0,0,0,0,0
3,1,2,0,2023-04-25 13:44:46,北京,中国,北京,5334170262,4894408934426148,False,...,5,0,0,0,0,0,0,0,0,0
4,0,2,0,2023-04-25 13:40:10,武汉,中国,湖北,6056043508,4894407776799644,False,...,5,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,0,1,0,2022-02-12 13:23:55,NaN,NaN,NaN,6912848963,4736040188775897,False,...,8,0,2,0,2,0,0,0,0,0
6690,0,0,0,2022-02-12 03:42:37,NaN,NaN,NaN,3087874701,4735893900362458,False,...,24,0,3,0,3,0,0,0,0,0
6691,0,1,0,2022-02-12 01:21:25,NaN,NaN,NaN,1985123417,4735858370150463,False,...,5,1,0,0,0,0,0,0,1,0
6692,0,1,0,2022-02-12 01:16:59,NaN,NaN,NaN,6628549450,4735857250010046,False,...,19,1,2,0,2,0,0,0,1,0
6693,0,0,0,2022-02-12 01:11:15,NaN,NaN,NaN,2460468142,4735855807432484,False,...,60,0,2,0,1,0,1,0,0,0

In [98]:
# merge df_emo_score_merged.xlsx
df5 = pd.read_excel('output/df_emo_score_merged.xlsx')
df5 = df5.drop_duplicates()
print(len(df5))
print(df5.columns)

6694
Index(['Unnamed: 0', 'comments_count', 'attitudes_count', 'reposts_count',
       'created_at', 'status_city', 'status_country', 'status_province',
       'user_id', 'id', 'isLongText', 'user_screen_name', 'user_verified',
       'user_gender', 'user_follow_count', 'user_followers_count',
       'user_verified_reason', 'weibo_emoji', 'tags', 'texts', 'words',
       'score'],
      dtype='object')

In [99]:
df5.to_excel('output/df_emo_score_merged.xlsx')

In [102]:
merged_df4.columns

Index(['comments_count', 'attitudes_count', 'reposts_count', 'created_at',
       'status_city', 'status_country', 'status_province', 'user_id', 'id',
       'isLongText', 'user_screen_name', 'user_verified', 'user_gender',
       'user_follow_count', 'user_followers_count', 'user_verified_reason',
       'weibo_emoji', 'tags', 'texts', 'cemotion_senti', 'baidu_pm',
       'baidu_pp', 'baidu_np', 'length', 'positive', 'negative', 'anger',
       'disgust', 'fear', 'sadness', 'surprise', 'good', 'happy'],
      dtype='object')

In [115]:
df5 = df5[['texts','words','score']]
merged_df4 = merged_df4.reset_index(drop=True)
df5 = df5.reset_index(drop=True)

df_all = pd.concat([merged_df4, df5[['words','score']]], axis=1, ignore_index=True)
df_all.columns = ['comments_count', 'attitudes_count', 'reposts_count', 'created_at',
       'status_city', 'status_country', 'status_province', 'user_id', 'id',
       'isLongText', 'user_screen_name', 'user_verified', 'user_gender',
       'user_follow_count', 'user_followers_count', 'user_verified_reason',
       'weibo_emoji', 'tags', 'texts', 'cemotion_senti', 'baidu_pm',
       'baidu_pp', 'baidu_np', 'length', 'positive', 'negative', 'anger',
       'disgust', 'fear', 'sadness', 'surprise', 'good', 'happy','words','emo_score']
df_all.to_excel('data_process_all.xlsx')

In [116]:
print(len(merged_df4),len(df5),len(df_all))

6694 6694 6694